# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos compilados por Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de entorno y configuración
.env
.env.*

# Archivos de logs y temporales
*.log
*.tmp
*.bak

# Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# VSCode
.vscode/
.history/

# Archivos de bases de datos
*.sqlite3
*.db

# Archivos de pruebas
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.tox/
.pytest_cache/

# Paquetes y distribución
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# Docker
*.pid

# Otros
*.idea/
*.swp
